<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0"/>

      <!-- 实际项目中不怎么使用缓存依赖 -->
      <!-- 缓存依赖项配置 -->
      <caching>
        <sqlCacheDependency enabled="true">
          <databases>
            <add name="GSSMS" connectionStringName="conStr" pollTime="15000"/>
          </databases>
        </sqlCacheDependency>
      </caching>
 
      <!-- mode="On":总是显示定制错误页面； -->
      <!-- mode="RemoteOnly"：对于本机的访问显示调用堆栈等异常信息，对于外部用户的显示定制错误页面。 -->
      <customErrors mode="On" defaultRedirect="MyErrorPage.html ">
        <error  statusCode="403" redirect="NoAccess.html"></error><!--根据错误码跳转！-->
        <error  statusCode="404" redirect="FileNotFound.html"></error><!--可以深入做-->
      </customErrors>
    </system.web>

  <!-- 关于HttpModule的配置 -->
  <system.webServer>
    <modules>
      <add name="ValidateSessionHttpModule" type="Locaris.LJKDev_Asp.NetStudy.Common.ValidateSessionHttpModule"/>
    </modules>
  </system.webServer>


  <connectionStrings>
    <add name="sql" connectionString="server=115.29.151.176;uid=sa;pwd=LJK.juhnko521;database=LJK_SQLServerDB"/>
  </connectionStrings>

  
</configuration>
